@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

body {
    margin: 0;
    font-family: Roboto;
}

h2 {
    font-size: 1.1rem;
    font-weight: 600;
}

.container {
    display: grid;
    grid-template: 150px 1fr / 250px 1fr;
    min-height: 100vh;
}

nav {
    grid-row: 1/3;
    background-color: #0284c7;
    padding: 20px 15px;
}

.logo,
.nav-links1,
.nav-links2 {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-auto-rows: 30px;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
    color: white;
    font-weight: 600;
}

.logo svg,
.nav-links1 svg,
.nav-links2 svg {
    justify-self: center;
}

.logo {
    font-size: 1.5rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 15px;
    padding: 15px;
    background-color: #e5e7eb;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    /* grid-auto-rows: 200px; */
    gap: 20px;
}

.card {
    box-sizing: border-box;
    padding: 30px 20px;
    background-color: white;
    border-left: 8px solid #eab308;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

}

.card-title {
    font-weight: 700;
    font-size: 1rem;
}

.card-content {
    font-size: 0.9rem;
    color: #4b5563;
}

.card-links {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 20px;
    margin-top: auto;
    padding-top: 20px;
}

.announcements-list {
    padding: 10px 30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.announcement {
    padding: 20px 0;
}

.announcement-title {
    font-weight: bold;
    font-size: 0.85rem;
}

div.announcement:not(:first-child) {
    border-top: 1px solid #d0d2d5;
}

.announcement-content {
    font-size: 0.75rem;
    color: #4b5563;
}