.container {
    display: grid;
    grid-template: 150px 1fr / 250px 1fr;
}

nav {
    grid-row: 1/3;
}

main {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 15px;
    padding: 15px;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 15px;
}

svg {
    color: white;
}